@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #3a4037 !important;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                              Utilities Classes                             */
/* -------------------------------------------------------------------------- */

.text-alegreya {
    font-family: 'Alegreya', serif;
    letter-spacing: 1px;
}

.text-pt-sans {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}

.m-30 {
    margin-right: 30px !important;
}

.breadcrumb-typo {
    font-size: 13px !important;
}
/* ----------------------- Utilities Classes End Here ----------------------- */


/* Logo  */
.logo__image-wrapper {
    max-width: 200px;
}

.logo__image-wrapper  img {
    max-width: 100%;
}

/* Navbar */
.dropdown:hover .dropdown-menu{
    display: block;
}

.site-nav {
    font-size: 1rem;
    font-family: Optima nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
}

.site-nav li a {
    padding: 7px 15px !important;
}

.site-header__icon svg {
    width: 23px;
    height: 23px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}

.site-header__cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -0.2rem;
    top: 0.2rem;
    font-weight: 700;
    background-color: #557b97;
    color: #fff;
    border-radius: 50%;
    min-width: 1em;
    height: 1em;
}

.gallery-wrapper:hover .overlay {
    display: block !important;
}

/* Form */
.login {
    font-family: 'Alegreya','serif' !important;
    font-size: 32px;
}

input[type="email"],input[type="password"],input[type="text"] {
    padding: 8px 10px !important;
    border: 1px solid black;
    border-radius: 3px;
}

fieldset p a:hover {
    color: #5f695a !important;
}

.product-hover:hover {
    opacity: 0.8 !important;
}

.page-link {
    border: none !important;
}

.page-link:hover {
    background-color: unset !important;
}

.page-link:focus {
    background-color: unset !important;
    box-shadow: unset !important;
}

.btn-teritary {
    padding: 8px 16px;
    margin: 0;
    font-size: 15px;
    font-family: 'Optima nova',sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1em;
    line-height: 1.8;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    min-height: 44px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}

#SortBy {
    background-image: url('../Images/icon/ico-select.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    text-indent: 0.01px;
    -webkit-appearance: none;
}

.form-control:focus, .form-select:focus {
    border-color: #000;
    box-shadow: unset;
    border-width: 3px !important;
}

.icons2 {
    display: flex;
}

.fb {
    width: 74px;
    height: 22px;
    background-color: #3b5998;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tw {
    width: 74px;
    height: 22px;
    background-color: #00aced;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-dark:hover {
    color: #fff !important;
}

input[type="checkbox"] {

    border: 1px solid black;
    border-radius: 3px;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;

}

.form-check-input:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}


#checkout-btn :hover {
    background-color: #000 !important;
}